/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* 
#05386B   BLUE
#379683   GREEN DARK
#5CDB95   GREEN MEDIUM
#8EE4AF   GREEN LIGHT
#EDF5E1   TAN
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* Forces inheritance */
  box-sizing: inherit;
}

html {
  /* 
  62.5% converts a 16px default font-size to 10px
  This allows 1rem to equal 10px at standard settings
  */
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: #5cdb95;
}

#root {
  padding: 3rem;
  max-width: 1200px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2.5rem;
  color: #05386b;
}

h1 {
  font-size: 8rem;
  text-align: center;
  margin-bottom: 2.5rem;
  color: #edf5e1;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

h2 {
  font-size: 3.2rem;
  color: #edf5e1;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}
